os: linux

dist: bionic

language: ruby

cache: bundler

rvm:
  - 2.5.8
  - 2.6.6
  - 2.7.2
  - ruby-head

gemfile:
  - Gemfile
  - gemfiles/Gemfile.rails-5-2
  - gemfiles/Gemfile.rails-6.0
  - gemfiles/Gemfile.rails-6.1

install:
  - bundle install

script:
  - bundle exec rake --trace test
  - bundle exec rubocop Gemfile \
    gemfiles/Gemfile.rails-5-2 gemfiles/Gemfile.rails-6.0 \
    gemfiles/Gemfile.rails-6.1 lib/ test/ Rakefile

jobs:
  fast_finish: true
