sudo: false

language: ruby

cache: bundler

rvm:
  - 2.4.7
  - 2.5.6
  - 2.6.4
  - ruby-head

gemfile:
  - Gemfile
  - gemfiles/Gemfile.rails-4-2
  - gemfiles/Gemfile.rails-5-0
  - gemfiles/Gemfile.rails-5-1
  - gemfiles/Gemfile.rails-5-2
  - gemfiles/Gemfile.rails-6.0

install:
  - bundle install

script:
  - bundle exec rake --trace test
  - bundle exec rubocop --rails Gemfile \
    gemfiles/Gemfile.rails-4-2 gemfiles/Gemfile.rails-5-0 \
    gemfiles/Gemfile.rails-5-1 gemfiles/Gemfile.rails-5-2 \
    gemfiles/Gemfile.rails-6.0 lib/ test/ Rakefile

matrix:
  fast_finish: true
  exclude:
    - gemfile: gemfiles/Gemfile.rails-4-2
      rvm: ruby-head
    - gemfile: gemfiles/Gemfile.rails-6.0
      rvm: 2.4.7
