---
name: 'Publish'

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: 'Publish to RubyGems'
    runs-on: ubuntu-24.04
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@master

      - name: 'Set up Ruby'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.8'

      - name: 'Publish to RubyGems'
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build page_title_helper.gemspec
          gem push page_title_helper-*.gem
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
